h1, h2, h3, h4, h5, h6 {
  text-wrap: balace;
  line-height: 120%;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 15px;
  font-weight: 400;
  text-wrap: pretty;
  line-height: 120%;
}
p small {
  font-size: 14px;
}

:root {
  font-family: "IBM Plex Sans", serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6574cd;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #253174;
}

.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}
*:focus {
  outline: 3px solid #f0f1fa;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  background-color: #d8dcf2;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body.tableFullScreen header,
body.tableFullScreen footer,
body.tableFullScreen h1,
body.tableFullScreen .stepper,
body.tableFullScreen .resumeContainer,
body.tableFullScreen .actionsContainer {
  display: none !important;
}
body.tableFullScreen .actionFullScreen {
  display: flex;
}

img {
  display: block;
}

header,
main,
footer {
  display: flex;
}

header {
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: #ffffff;
}
header .logoContainer picture img {
  width: auto;
  height: 40px;
}
header .userContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .userContainer__info p {
  margin: 0;
  text-align: right;
}
header .userContainer__info p small {
  color: #6c757d;
}
header .userContainer__avatar img {
  width: 40px;
  height: auto;
}

main {
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  gap: 1rem;
}
main h1 {
  margin: 0 0 1rem;
}

footer {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 2rem;
  background-color: #f4f5f6;
}
footer p {
  margin: 0;
}

.card {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.stepper {
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}
.stepper__step {
  display: flex;
  gap: 0.25rem;
  width: 10rem;
}
.stepper__step .stepperStep__icon img {
  width: 1.5rem;
  height: auto;
}
.stepper__step .stepperStep__text p {
  margin: 0;
}
.stepper__step .stepperStep__text p:first-child {
  color: #181a1b;
  height: 23px;
  display: flex;
  align-items: center;
}
.stepper__step .stepperStep__text p small {
  color: #6c757d;
}
.stepper__progress {
  display: flex;
  align-items: center;
  background-color: #d9dbde;
  width: 100%;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.stepper__progress .stepperProgress__bar {
  display: block;
  height: 0.25rem;
  background-color: #6574cd;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 100%;
}
.row > div {
  display: flex;
  flex-grow: 1;
}
.row .col {
  flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}
.row .col-4 {
  max-width: 33.333333%;
}
.row .col-6 {
  max-width: 50%;
}
.row .col-8 {
  max-width: 66.666667%;
}
.row .col-12 {
  max-width: 100%;
}
.row .col-auto {
  flex: 0 0 auto;
  width: auto;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputWrapper label {
  font-size: 14px;
  color: #181a1b;
}
.inputWrapper input, .inputWrapper textarea, .inputWrapper select {
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #d9dbde;
  border-radius: 0.5rem;
  font-size: 15px;
}
.inputWrapper input:focus, .inputWrapper textarea:focus, .inputWrapper select:focus {
  outline: none;
  border-color: #6574cd;
}
.inputWrapper input::-moz-placeholder, .inputWrapper textarea::-moz-placeholder, .inputWrapper select::-moz-placeholder {
  color: #a2a9af;
}
.inputWrapper input::placeholder, .inputWrapper textarea::placeholder, .inputWrapper select::placeholder {
  color: #a2a9af;
}
.inputWrapper textarea {
  height: 104px;
  padding: 0.25rem 0.5rem;
}
.inputWrapper p {
  margin: 0;
}
.inputWrapper__textColapsed {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.inputWrapper__textColapsed p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 100%;
}

.actionsContainer > .row {
  justify-content: space-between;
}
.actionsContainer > .row > .col-auto {
  display: flex;
  gap: 1rem;
}

.actionFullScreen {
  display: none;
}
.actionFullScreen > .row {
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.button--primary {
  background-color: #6574cd;
  color: #ffffff;
  gap: 0.5rem;
}
.button--primary img {
  width: 1rem;
  height: auto;
}
.button--primary:hover {
  background-color: #253174;
}
.button--outline {
  background-color: #ffffff;
  border-color: #6c757d;
  color: #6c757d;
}
.button--outline:hover {
  background-color: #6c757d;
  color: #ffffff;
}
.button--text {
  background-color: transparent;
  color: #6c757d;
}
.button--text:hover {
  background-color: #f4f5f6;
}
.button--icon {
  flex-basis: auto;
  background-color: transparent;
  color: #6c757d;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  font-size: 14px;
}
.button--icon:hover {
  background-color: #f4f5f6;
}
.button--icon img {
  width: 1rem;
  height: auto;
}

.subtitleContainer {
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
.subtitleContainer .col {
  display: flex;
  flex-direction: column;
}
.subtitleContainer .col h6, .subtitleContainer .col p {
  margin: 0;
}
.subtitleContainer .col p small {
  color: #6c757d;
}

.tableContainer .col {
  border: 1px solid #d9dbde;
  border-radius: 0.25rem;
  border-spacing: 0;
  overflow: hidden;
}
.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}
.tableContainer table thead tr {
  height: 2rem;
  background-color: #f0f1fa;
}
.tableContainer table thead tr th {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 0 1rem;
}
.tableContainer table tbody tr {
  border-top: 1px solid #d9dbde;
}
.tableContainer table tbody tr td {
  height: 56.5px;
  padding: 0.25rem 0.5rem;
}
.tableContainer table tbody tr .inputWrapper input {
  display: none;
}
.tableContainer table tbody tr .inputWrapper .inputValue {
  display: flex;
}
.tableContainer table tbody tr.edit .inputWrapper input {
  display: block;
}
.tableContainer table tbody tr.edit .inputWrapper .inputValue {
  display: none;
}
.tableContainer table .inputWrapper {
  display: inline-grid;
  position: relative;
  min-height: 3rem;
  width: 100%;
}
.tableContainer table .inputWrapper input {
  height: 3rem;
  padding: 0 1rem;
}
.tableContainer table .inputWrapper .inputValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  padding: 0 0.5rem;
}
.tableContainer table .inputWrapper .inputValue p small {
  color: #6c757d;
  font-size: 14px;
}
.tableContainer table .inputWrapper .inputValue p span {
  color: #878f97;
  padding-right: 0.25rem;
}

.totalContainer {
  align-items: center;
}
.totalContainer .col-auto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  padding: 0 0.75rem;
  min-width: 170px;
}
.totalContainer h6 {
  width: 100%;
  margin: 0;
  text-align: right;
  padding-right: 1rem;
}
.totalContainer p {
  margin: 0;
}
.totalContainer p small {
  color: #6c757d;
  font-size: 14px;
}
.totalContainer p span {
  color: #878f97;
  padding-right: 0.25rem;
}

.uploadModal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}
.uploadModal__content {
  min-width: 450px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out;
}
.uploadModal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.uploadModal__header h6 {
  margin: 0;
}
.uploadModal__body .uploadModalBody__dragAndDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px dashed #d9dbde;
  border-radius: 0.25rem;
}
.uploadModal__body .uploadModalBody__dragAndDrop:hover {
  border-width: 1px;
  border-color: #6574cd;
  transition: all 150ms ease-in-out;
}
.uploadModal__body .uploadModalBody__dragAndDrop img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}
.uploadModal__body .uploadModalBody__dragAndDrop h6, .uploadModal__body .uploadModalBody__dragAndDrop p {
  margin: 0;
  width: 100%;
  text-align: center;
}
.uploadModal__body .uploadModalBody__dragAndDrop p {
  padding-top: 0.2rem;
}
.uploadModal__body .uploadModalBody__dragAndDrop label {
  color: #0f86db;
  cursor: pointer;
}
.uploadModal__body .uploadModalBody__dragAndDrop label:hover {
  color: #0a5b94;
}
.uploadModal__body .uploadModalBody__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem 0;
}
.uploadModal__body .uploadModalBody__progress .uploadModalBodyProgress__icon img {
  width: 1.5rem;
  height: auto;
}
.uploadModal__body .uploadModalBody__progress .uploadModalBodyProgress__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}
.uploadModal__body .uploadModalBody__progress .uploadModalBodyProgress__content p {
  margin: 0 0 0.5rem;
}
.uploadModal__body .uploadModalBody__progress .uploadModalBodyProgress__content .status small::before {
  content: "Subiendo...";
  color: #0f86db;
}
.uploadModal__body .uploadModalBody__progress .uploadModalBodyProgress__content .progress {
  display: flex;
  align-items: center;
  background-color: #d9dbde;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}
.uploadModal__body .uploadModalBody__progress .uploadModalBodyProgress__content .progress__bar {
  width: 0%;
  display: block;
  height: 0.2rem;
  background-color: #6574cd;
  border-radius: 1rem;
  transition: width 3000ms ease-in-out;
}
.uploadModal__body .uploadModalBody__progress--success .progress__bar {
  background-color: #589a22 !important;
}
.uploadModal__body .uploadModalBody__progress--success .status small::before {
  content: "Completado" !important;
  color: #589a22 !important;
}/*# sourceMappingURL=style.css.map */