@import "variablesA.scss";
//@import "variablesB.scss";

:root{
    font-family: "IBM Plex Sans", serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-primary; 
    border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-primary-600; 
}

.hidden{
    display: none !important;
}

*{
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    &:focus{
        outline: 3px solid $color-primary-50;
    }
}

body{
    min-height: 100dvh;
    width: 100dvw;
    background-color: $color-primary-100;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    &.tableFullScreen{
        header,
        footer,
        h1,
        .stepper,
        .resumeContainer,
        .actionsContainer{
            display: none !important;
        }
        .actionFullScreen{
            display: flex;
        }
    }
}

img{
    display: block;
}

header,
main,
footer{
    display: flex;
}

header{
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: $color-white;
    .logoContainer{
        picture{
            img{
                width: auto;
                height: 40px;
            }
        }
    }
    .userContainer{
        display: flex;
        align-items: center;
        gap: 1rem;
        &__info{
            p{
                margin: 0;
                text-align: right;
                small{
                    color: $color-secondary;
                }
            }
        }
        &__avatar{
            img{
                width: 40px;
                height: auto;
            }
        }
    }
}
main{
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    gap: 1rem;
    h1{
        margin: 0 0 1rem;
    }
}
footer{
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.25rem 2rem;
    background-color: $color-secondary-50;
    p{
        margin: 0;
    }
}

.card{
    background-color: $color-white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: $border-radius-1;
    box-shadow: $box-shadow-1;
}

.stepper{
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    &__step{
        display: flex;
        gap: 0.25rem;
        width: 10rem;
        .stepperStep{
            &__icon{
                img{
                    width: 1.5rem;
                    height: auto;
                }
            }
            &__text{
                p{
                    margin: 0;
                    &:first-child{
                        color: $color-text;
                        height: 23px;
                        display: flex;
                        align-items: center;
                    }
                    small{
                        color: $color-secondary;
                    }
                }
            }
        }
    }
    &__progress{
        display: flex;
        align-items: center;
        background-color: $color-secondary-75;
        width: 100%;
        height: 0.25rem;
        position: absolute;
        bottom: 0;
        left: 0;
        .stepperProgress{
            &__bar{
                display: block;
                height: 0.25rem;
                background-color: $color-primary;
                border-radius: 1rem;
                transition: $transition-1;
            }
        }
    }
}

.row{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
    >div{
        display: flex;
        flex-grow: 1;
    }
    .col{
        flex: 1 0 0%;
        width: 100%;
        max-width: 100%;
        &-4{
            max-width: 33.333333%;
        }
        &-6{
            max-width: 50%;
        }
        &-8{
            max-width: 66.666667%;
        }
        &-12{
            max-width: 100%;
        }
        &-auto{
            flex: 0 0 auto;
            width: auto;
        }
    }
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label{
        font-size: $font-size-small;
        color: $color-text;
    }
    input,textarea,select{
        height: 2rem;
        padding: 0 0.5rem;
        border: 1px solid $color-border;
        border-radius: $border-radius-1;
        font-size: $font-size;
        &:focus{
            outline: none;
            border-color: $color-primary;
        }
        &::placeholder{
            color: $color-secondary-200;
        }
    }
    textarea{
        height: 104px;
        padding: 0.25rem 0.5rem;
    }
    p{
        margin: 0;
        // height: 26px;
    }
    &__textColapsed{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-basis: 100%;
        }
    }
}
.actionsContainer{
    >.row{
        justify-content: space-between;
        >.col-auto{
            display: flex;
            gap: 1rem;
        }
    }
}

.actionFullScreen{
    display: none;
    >.row{
        justify-content: center;
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-1;
    border: 1px solid transparent;
    font-size: $font-size-small;
    cursor: pointer;
    transition: $transition-1;
    &--primary{
        background-color: $color-primary;
        color: $color-white;
        gap: 0.5rem;
        img{
            width: 1rem;
            height: auto;
        }
        &:hover{
            background-color: $color-primary-600;
        }
    }
    &--outline{
        background-color: $color-white;
        border-color: $color-secondary;
        color: $color-secondary;
        &:hover{
            background-color: $color-secondary;
            color: $color-white;
        }
    }
    &--text{
        background-color: transparent;
        color: $color-secondary;
        &:hover{
            background-color: $color-secondary-50;
        }
    }
    &--icon{
        flex-basis: auto;
        background-color: transparent;
        color: $color-secondary;
        padding: 0.25rem 0.5rem;
        gap: 0.5rem;
        font-size: $font-size-small;
        &:hover{
            background-color: $color-secondary-50;
        }
        img{
            width: 1rem;
            height: auto;
        }
    }
}

.subtitleContainer{
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
    .col{
        display: flex;
        flex-direction: column;
        h6,p{
            margin: 0;
        }
        p{
            small{
                color: $color-secondary;
            }
        }
    }
}

.tableContainer{
    .col{
        border: 1px solid $color-border;
        border-radius: $border-radius-2;
        border-spacing: 0;
        overflow: hidden;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            tr{
                height: 2rem;
                background-color: $color-primary-50;
                
                th{
                    font-size: $font-size-small;
                    font-weight: 400;
                    text-align: left;
                    padding: 0 1rem;
                }
            }
        }
        tbody{
            tr{
                border-top: 1px solid $color-border;
                td{
                    height: 56.5px;
                    padding: 0.25rem 0.5rem;
                }
                .inputWrapper{
                    input{
                        display: none;
                    }
                    .inputValue{
                        display: flex;
                    }
                }
                &.edit{
                    .inputWrapper{
                        input{
                            display: block;
                        }
                        .inputValue{
                            display: none;
                        }
                    }
                }
            }
        }
        .inputWrapper{
            display: inline-grid;
            position: relative;
            min-height: 3rem;
            width: 100%;
            input{
                height: 3rem;
                padding: 0 1rem;
            }
            .inputValue{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 3rem;
                padding: 0 0.5rem;
                p{
                    small{
                        color: $color-secondary;
                        font-size: $font-size-small;
                    }
                    span{
                        color: $color-secondary-300;
                        padding-right: 0.25rem;
                    }
                }
            }
        }
    }
}

.totalContainer{
    align-items: center;
    .col-auto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 3rem;
        padding: 0 0.75rem;
        min-width: 170px;
    }
    h6{
        width: 100%;
        margin: 0;
        text-align: right;
        padding-right: 1rem;
    }
    p{
        margin: 0;
        small{
            color: $color-secondary;
            font-size: $font-size-small;
        }
        span{
            color: $color-secondary-300;
            padding-right: 0.25rem;
        }
    }
}

.uploadModal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.75);
    &__content{
        min-width: 450px;
        box-shadow: $box-shadow-3;
        transition: $transition-1;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6{
            margin: 0;
        }
    }
    &__body{
        .uploadModalBody{
            &__dragAndDrop{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 1rem;
                border: 1px dashed $color-border;
                border-radius: $border-radius-2;
                &:hover{
                    border-width: 1px;
                    border-color: $color-primary;
                    transition: $transition-1;
                }
                img{
                    width: 100px;
                    height: auto;
                    margin-bottom: 1rem;
                }
                h6,p{
                    margin: 0;
                    width: 100%;
                    text-align: center;
                }
                p{
                    padding-top: 0.20rem;
                }
                label{
                    color: $color-blue-500;
                    cursor: pointer;
                    &:hover{
                        color: $color-blue-600;
                    }
                }
            }
            &__progress{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.25rem;
                padding: 1rem 0;
                .uploadModalBodyProgress{
                    &__icon{
                        img{
                            width: 1.5rem;
                            height: auto;
                        }
                    }
                    &__content{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-grow: 1;
                        gap: 1rem;
                        p{
                            margin: 0 0 0.5rem;
                        }
                        .status{
                            small{
                                &::before{
                                    content: "Subiendo...";
                                    color: $color-blue-500;
                                }
                            }
                        }
                        .progress{
                            display: flex;
                            align-items: center;
                            background-color: $color-secondary-75;
                            width: 100%;
                            height: 0.2rem;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            border-radius: $border-radius-2;
                            overflow: hidden;
                            &__bar{
                                width: 0%;
                                display: block;
                                height: 0.2rem;
                                background-color: $color-primary;
                                border-radius: 1rem;
                                transition: width 3000ms ease-in-out;
                            }
                        }
                    }
                }
                &--success{
                    .progress{
                        &__bar{
                            background-color: $color-green-500 !important;
                        }
                    }
                    .status{
                        small{
                            &::before{
                                content: "Completado" !important;
                                color: $color-green-500 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
